<import from="./square"></import>
<import from="./piece"></import>
<import from="./draggable-item"></import>
<import from="./dropzone-item"></import>

<div
  class="ca:grid ca:grid-cols-8 ca:grid-rows-8 ca:w-full ca:h-full ca:relative"
  ref="boardRef"
>
  <template repeat.for="square of squares">
    <dropzone-item accept="draggable-item.piece">
      <chess-square square.bind="square"></chess-square>
    </dropzone-item>
  </template>

  <template repeat.for="piece of pieces">
    <draggable-item
      class="ca:absolute ca:w-1/8 ca:z-[2] piece"
      style.bind="pieceStyle(piece.square)"
    >
      <chess-piece
        piece.bind="{type: piece.type, color: piece.color}"
        square.bind="piece.square"
      ></chess-piece>
    </draggable-item>
  </template>
</div>
