<import from="./square"></import>
<import from="./piece"></import>

<div
  class="ca:grid ca:grid-cols-8 ca:grid-rows-8 ca:w-full ca:h-full ca:relative"
>
  <template repeat.for="square of squares">
    <chess-square
      square.bind="square"
      dropzone-for.bind="possibleSquares.includes(square) ? pickedUpPiece.element : null"
    ></chess-square>
  </template>

  <template repeat.for="piece of pieces">
    <chess-piece
      piece.bind="{type: piece.type, color: piece.color}"
      square.bind="piece.square"
      class="ca:absolute ca:w-1/8 ca:z-[2]"
      style.bind="pieceStyle(piece.square)"
      draggable
      draggable-picked-up.trigger="onpickup($event, piece)"
    ></chess-piece>
  </template>
</div>
