<import from="./square"></import>
<import from="./piece"></import>
<import from="../resources/custom-attributes/draggable"></import>
<import from="../resources/custom-attributes/dropzone"></import>

<div
  class="ca:grid ca:grid-cols-8 ca:grid-rows-8 ca:w-full ca:h-full ca:relative"
  ref="boardRef"
>
  <template repeat.for="square of squares">
    <chess-square
      square.bind="square"
      dropzone-for="chess-piece"
    ></chess-square>
  </template>

  <template repeat.for="piece of pieces">
    <chess-piece
      piece.bind="{type: piece.type, color: piece.color}"
      square.bind="piece.square"
      class="ca:absolute ca:w-1/8 ca:z-[2]"
      style.bind="pieceStyle(piece.square)"
      draggable
    ></chess-piece>
  </template>
</div>
